@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.profile-card{
  margin: 2% auto auto auto;
  width: 50%;
  display: flex;
  flex-flow: wrap row;
}

.img {
  width: 175px;
  height: 175px;
  margin: 6% 1% auto 1%;
}

.profle-btn{
  margin-right: 15%;
}

.policy-card{
  width: 30%;
  margin: auto;
}

.your-policies{
  display: flex;
  flex-flow: row wrap;
}

.policy-btn{
  float: right;
}
